In [1]:
# importing the required libraries
import numpy as np
import pandas as pd

### Importing the cleaned dataset

## 2007.csv

In [2]:
data_2007 = pd.read_csv(r"D:\User\University\Year 2\Programming for Data Science\Programming Coursework\Extracted years\2007.csv")

In [3]:
data_2007.shape

(7453215, 29)

In [4]:
pd.set_option('display.max_columns', None)
data_2007.tail(5)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
7453210,2007,12,15,6,1558.0,1605,1749.0,1736,DL,58,N670DN,111.0,91.0,80.0,13.0,-7.0,MCO,ATL,403,14,17,0,NaN,0,0,0,0,0,0
7453211,2007,12,15,6,1902.0,1851,2110.0,2105,DL,59,N829MH,248.0,254.0,221.0,5.0,11.0,ATL,SLC,1589,6,21,0,NaN,0,0,0,0,0,0
7453212,2007,12,15,6,1024.0,1025,1750.0,1735,DL,61,N623DL,266.0,250.0,233.0,15.0,-1.0,LAX,ATL,1946,14,19,0,NaN,0,0,0,15,0,0
7453213,2007,12,15,6,1353.0,1315,1658.0,1622,DL,62,N970DL,125.0,127.0,100.0,36.0,38.0,DFW,ATL,732,11,14,0,NaN,0,0,0,0,0,36
7453214,2007,12,15,6,1824.0,1800,2001.0,1928,DL,63,N628DL,97.0,88.0,61.0,33.0,24.0,ATL,MCO,403,10,26,0,NaN,0,24,0,9,0,0

### Descriptions of all the columns in the dataset

In [5]:
# opening the file showing the variable descriptions
variable_descriptions = pd.read_csv(r"D:\User\University\Year 2\Programming for Data Science\Programming Coursework\Additional files\variable-descriptions.csv")
variable_descriptions

,Variable descriptions,Unnamed: 1,Unnamed: 2
0,NaN,NaN,NaN
1,NaN,Name,Description
2,1.0,Year,1987-2008
3,2.0,Month,12-Jan
4,3.0,DayofMonth,31-Jan
5,4.0,DayOfWeek,1 (Monday) - 7 (Sunday)
6,5.0,DepTime,"actual departure time (local, hhmm)"
7,6.0,CRSDepTime,"scheduled departure time (local, hhmm)"
8,7.0,ArrTime,"actual arrival time (local, hhmm)"
9,8.0,CRSArrTime,"scheduled arrival time (local, hhmm)"
10,9.0,UniqueCarrier,unique carrier code
11,10.0,FlightNum,flight number
12,11.0,TailNum,plane tail number
13,12.0,ActualElapsedTime,in minutes
14,13.0,CRSElapsedTime,in minutes
15,14.0,AirTime,in minutes
16,15.0,ArrDelay,"arrival delay, in minutes"
17,16.0,DepDelay,"departure delay, in minutes"
18,17.0,Origin,origin IATA airport code
19,18.0,Dest,destination IATA airport code
20,19.0,Distance,in miles
21,20.0,TaxiIn,"taxi in time, in minutes"
22,21.0,TaxiOut,taxi out time in minutes
23,22.0,Cancelled,was the flight cancelled?
24,23.0,CancellationCode,"reason for cancellation (A = carrier, B = weat..."
25,24.0,Diverted,"1 = yes, 0 = no"
26,25.0,CarrierDelay,in minutes
27,26.0,WeatherDelay,in minutes
28,27.0,NASDelay,in minutes
29,28.0,SecurityDelay,in minutes
30,29.0,LateAircraftDelay,in minutes

## Data Exploration

In [6]:
# checking the columns in 2007
data_2007.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [7]:
data_2007.dtypes

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime       float64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn                 int64
TaxiOut                int64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay           int64
WeatherDelay           int64
NASDelay               int64
SecurityDelay          int64
LateAircraftDelay      int64
dtype: object

### Checking for any null/missing values

In [8]:
# getting the count of null values for each column in the merged dataset
data_2007.isnull().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime               160748
CRSDepTime                 0
ArrTime               177927
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum                   22
ActualElapsedTime     177927
CRSElapsedTime           994
AirTime               177927
ArrDelay              177927
DepDelay              160748
Origin                     0
Dest                       0
Distance                   0
TaxiIn                     0
TaxiOut                    0
Cancelled                  0
CancellationCode     7292466
Diverted                   0
CarrierDelay               0
WeatherDelay               0
NASDelay                   0
SecurityDelay              0
LateAircraftDelay          0
dtype: int64

In [9]:
# checking the percentage of null values in the columns which had null values

no_of_null_values = data_2007.isnull().sum(axis=0)

percentage_of_null_values = (no_of_null_values / (data_2007.shape[0])) * 100
(percentage_of_null_values[percentage_of_null_values>0]).map('{:.2f}%'.format)

DepTime               2.16%
ArrTime               2.39%
TailNum               0.00%
ActualElapsedTime     2.39%
CRSElapsedTime        0.01%
AirTime               2.39%
ArrDelay              2.39%
DepDelay              2.16%
CancellationCode     97.84%
dtype: object

In [10]:
# removing the 'CancellationCode' column since 98% of the values are null
data_2007 = data_2007.drop('CancellationCode', axis=1)

## Additional Datasets

### Importing additional dataset, airport_data.csv and plane_data.csv for cleaning

In [11]:
# importing the additional datasets that were provided
airport_data = pd.read_csv(r"D:\User\University\Year 2\Programming for Data Science\Programming Coursework\Additional files\airports.csv")
plane_data = pd.read_csv(r"D:\User\University\Year 2\Programming for Data Science\Programming Coursework\Additional files\plane-data.csv")

## airport_data.csv

## Data Exploration

In [12]:
airport_data.head()

,iata,airport,city,state,country,lat,long
0,00M,Thigpen,Bay Springs,MS,USA,31.953765,-89.234505
1,00R,Livingston Municipal,Livingston,TX,USA,30.685861,-95.017928
2,00V,Meadow Lake,Colorado Springs,CO,USA,38.945749,-104.569893
3,01G,Perry-Warsaw,Perry,NY,USA,42.741347,-78.052081
4,01J,Hilliard Airpark,Hilliard,FL,USA,30.688012,-81.905944

In [13]:
airport_data['country'].value_counts()

country
USA                               3372
Thailand                             1
Palau                                1
N Mariana Islands                    1
Federated States of Micronesia       1
Name: count, dtype: int64

In [14]:
airport_data.dtypes

iata        object
airport     object
city        object
state       object
country     object
lat        float64
long       float64
dtype: object

### Checking and removing any null/missing values

In [15]:
# checking the number of null/missing values in the airport dataset
airport_data.isnull().sum()

iata        0
airport     0
city       12
state      12
country     0
lat         0
long        0
dtype: int64

In [16]:
# removing all the rows with null values
airport_data = airport_data.dropna()

## plane_data.csv

## Data Exploration

In [17]:
plane_data.dtypes

tailnum           object
type              object
manufacturer      object
issue_date        object
model             object
status            object
aircraft_type     object
engine_type       object
year             float64
dtype: object

In [18]:
# number of null/missing values in the plane dataset
plane_data.isnull().sum()

tailnum            0
type             549
manufacturer     549
issue_date       550
model            549
status           549
aircraft_type    549
engine_type      552
year             694
dtype: int64

### Checking and removing any null/missing values

In [19]:
# removing all the rows with null values
plane_data = plane_data.dropna()

## Deduplication

In [20]:
# checking the number of duplicated records if any for each dataset

In [21]:
data_2007.duplicated().sum()

27

In [22]:
airport_data.duplicated().sum()

0

In [23]:
plane_data.duplicated().sum()

0

In [24]:
# removing all the duplicates from every dataset

In [25]:
data_2007 = data_2007.drop_duplicates(inplace = False)

In [26]:
airport_data = airport_data.drop_duplicates(inplace=False)

In [27]:
plane_data = plane_data.drop_duplicates(inplace=False)

### Saving the cleaned datasets

In [28]:
# saving the new cleaned files to the pc
data_2007.to_csv(r"D:\User\University\Year 2\Programming for Data Science\Programming Coursework\cleaned data files\combined_data.csv", index=False)
airport_data.to_csv(r"D:\User\University\Year 2\Programming for Data Science\Programming Coursework\cleaned data files\airport_data.csv", index=False)
plane_data.to_csv(r"D:\User\University\Year 2\Programming for Data Science\Programming Coursework\cleaned data files\plane_data.csv", index=False)